[2017-07-26 19:00] Dwaynekj commented on #290
The logic can be found here https://github.com/fin-hypergrid/core/blob/master/src/features/ThumbwheelScrolling.js

[2017-08-02 10:13] nclsclsn opened #618 "Canvas selection is confused when zoom styling property is used"
Hello,

I'm using media queries with zoom property and it's confusing cell selection within the canvas.

Here's a snippet to replicate the case:
[code]
To select the first data row, you need to have the cursor on the third data row. Horizontal offset can also be affected with a more complex setup.
It would seem that this.canvas.getBoundingClientRect() does not return an accurate ClientRect anymore

[2017-08-08 04:51] Dwaynekj commented on #618
@nclsclsn Is there anyway you could get away with shrinking the grid, through its properties like font size and row height instead?

[2017-08-08 07:18] nclsclsn commented on #618
That's indeed the plan eventually. In the meantime, I have removed the zoom property which is fine for now.
But I wanted to raise awareness around that case thinking there could be a way to adapt the canvas sizing calculations to cope with that property.
Note that it's the actual zoom CSS property creating a problem, I can properly zoom with my browser (Ctrl and -/+) without disturbing the canvas'

[2017-08-09 23:54] mgsloan commented on #375
@Dwaynekj @joneit Did incremental re-rendering get implemented?  Is that what `repaintCell` is for?  Seems that the paint loop is still re-rendering every cell in the viewport.

[2017-08-10 13:32] Dwaynekj commented on #375
@mgsloan Which rendering strategy are you using here https://github.com/fin-hypergrid/core/blob/master/src/defaults.js#L1013

[2017-08-11 02:55] mgsloan commented on #375
@Dwaynekj Ah, thanks for the info!  Sorry for the noise, I've just realized that our hypergrid branch is pretty ancient, version 0.2.  Should probably upgrade, but there's a fair amount of changes atop it.

[2017-08-25 13:57] hugoeanogueira commented on #290
Hey! I've been doing some work to make mousewheel scrolling speed more configurable :p
I've tracked the feature to `finbars` dependency (didn't see anything being triggered in `ThumbwheelScrolling.js`).

Two new properties were added `scrollingHorizontalMouseWheelMultiplier` and `scrollingVerticalMouseWheelMultiplier`, which are proxied to `finbars`.

These values can be set as:
- between 0 and 1

[2017-08-25 14:23] hugoeanogueira commented on #290
The PRs:
- [finbars](https://github.com/openfin/finbars/pull/2)
- [fin-hypergrid](https://github.com/fin-hypergrid/core/pull/620)

[2017-08-25 15:00] Dwaynekj commented on #290
@hugoeanogueira Did you test on Windows and Mac? Additionally, any thoughts into delegating the event from the ThumbwheelScrolling feature chain as opposed to from the finbars.

[2017-08-25 15:27] hugoeanogueira commented on #290
Not yet, I need to get a Windows machine first and do some testing.
I've tried to do some debugging in ThumbwheelScrolling.js, but haven't managed to see any action in there. Maybe I have to configure anything for the event to be propagated to the ThumbwheelScrolling feature chain?

[2017-08-27 21:16] hugoeanogueira opened #621 "First character is wrongly mapped for non-US keyboards when opening the cell editor (editOnKeyDown=true)"
**Description**
When using the keyboard to open cell editor, by start typing a visible character, some characters may not be correctly mapped in the `charMap` from `Canvas.js` when the user is using a keyboard layout different from the US (e.g. portuguese layout).

**Test conditions**
OS: Mac OS v10.12.6
Browsers: Chrome 60.0.3112.113 and Firefox 55
Keyboard layout: Portuguese

**How to reproduce*

[2017-08-28 13:14] hugoeanogueira opened #623 "Space key does not open cell editor"
**Description**
When using the keyboard to start cell editor, we cannot use the space key to open the cell editor and replace its content with a new space character.
Everything works fine if we type a "normal" character.

**Test conditions**
OS: Mac OS v10.12.6
Browsers: Chrome 60.0.3112.113 and Firefox 55

**How to reproduce**
- Open hypergrid's demo app;
- Focus on an editable cell (either with

[2017-08-28 14:30] arunicus opened #625 "Removing the horizontal grid lines only for top summary grid"
is it possible to not draw the horizontal grid lines only for top summary rows?

[2017-08-28 16:37] Dwaynekj commented on #625
@arunicus There is no config option but your could override renderer.paintGridLines to do such

[2017-08-31 17:19] aa-ron commented on #472
I've seen the same behavior.  When dragging a column rapidly over multiple columns, some of the columns that are passed over change order.  The same motion will work correctly when dragged at a slower pace.

[2017-09-04 15:02] sdolfo opened #627 "Different header height using grouped header"
I'm having an issue when trying to set a different header height using the grouped header plugin: The header comes twice as big in relation to the rest of the rows because it takes the default row height I'm setting. So I would like to set a height for the header and a height for the rest of the rows.

I tried to use the [Dynamic Grid Properties](https://github.com/fin-hypergrid/core/wiki/Dynamic-

[2017-09-05 02:07] Dwaynekj commented on #627
@sdolfo Well grouped header is not an official part of the grid. It is example code. You can feel free to update/extend the [code](https://github.com/fin-hypergrid/old-addons/blob/master/grouped-header/index.js#L215) for your needs.

[2017-09-05 02:08] #625 closed

[2017-09-05 02:09] #616 closed

[2017-09-05 02:10] #609 closed

[2017-09-05 02:10] #608 closed

[2017-09-12 21:00] dcchuck commented on #525
@aqumus TY, confirmed. Closing.

[2017-09-12 21:00] #525 closed

[2017-09-15 07:12] frankiehf opened #628 "grid repositioning after tab/enter"
Hello,
i noticed in the demo that if you try to edit a cell and then press tab or enter,the grid moves to the right, up to the point that you cannot see the selected cell anymore. is there a function that defines the repositioning of the grid/ scrollbar thumb on pressing tab/enter?
to replicate the issue,just go on the demo page https://fin-hypergrid.github.io/core/2.0.2/
open the dashboard, selec

[2017-09-15 17:07] Dwaynekj commented on #628
@hugoeanogueira @joneit Is this something you guys noticed in the PR your evaluating?

[2017-09-16 14:45] ZachBray opened #629 "No way of temporarily displaying a grid and removing it, as clean up isn't implemented"
Hi,

Thanks for a great library! :-) I've created some proof-of-concepts at work using the older version.

Right now I'm looking to open a "widget" (terrible name I know) that contains a grid. The user can close the widget. Therefore, it needs to have its resources cleaned up.

`grid.stopPaintThread()` and `grid. stopResizeThread` are not hooked up correctly and throw.

I can call `grid.canvas.sto

[2017-09-18 22:46] Dwaynekj commented on #629
@ZachBray This is a good point. Are you interested in offereing a PR?

[2017-09-25 23:24] willsolve commented on #629
I was able to make a workaround with the following:

`function Canvas(div, component) {
...
     //comment these out
    //document.addEventListener('mousemove', function(e) {
    //    if (self.hasMouse || self.isDragging()) {
    //        self.finmousemove(e);
    //    }
    //});
    //document.addEventListener('mouseup', function(e) {
    //    self.finmouseup(e);
    //});
    //document.ad

[2017-10-06 13:00] frankiehf commented on #628
any news on this? thanks in advance

[2017-10-09 13:27] frankiehf commented on #628
solved by myself using this comment:
https://github.com/fin-hypergrid/core/issues/519#issuecomment-303113542

[2017-10-10 14:53] #628 closed

[2017-10-18 14:03] frankiehf opened #630 "PageDown/PageUp only works once"
Hello, maybe you can save me some time with this. Every time you press pageDown or up, the grid scrolls down by a set value,but if you try pressing it again this error comes up:

Uncaught TypeError: Cannot read property 'getCellOwnProperties' of undefined
    at CellEvent.get (cellEventFactory.js:58)
    at CellEvent.get (cellEventFactory.js:63)
    at Constructor.handleKeyDown (CellSelection.js:1

[2017-10-18 15:35] hugoeanogueira commented on #630
Hey! Try using the develop branch. This and some more issues, like one you've reported in the other day, should be fixed there.

[2017-10-18 17:54] Dwaynekj commented on #630
@hugoeanogueira Would you like to plan sometime to go over PRs with myself and @dcchuck

[2017-10-18 23:40] hugoeanogueira commented on #630
Hi @Dwaynekj!
Sorry to not be very responsive lately. We're working hard for a deadline at the end of the month and I've been delaying the PRs and the Slack things. I think it will be easier to check on this at the start of November. @mistic also has been doing some good stuff with hypegrid.
Thanks!

[2017-10-19 08:17] frankiehf commented on #630
sorry for the stupid question, how do you actually build the project in a single file?i've been using the fin-hypergrid file i found in the demo until now,i dont have much experience with node.js

[2017-10-19 17:02] Dwaynekj commented on #630
@hugoeanogueira Early or second week of november works

[2017-10-19 18:06] hugoeanogueira commented on #630
ok, second week it is ;)

[2017-10-26 18:34] vikrametc opened #631 "rendering context menu for grid column header"
Hi Team,
Could you please let me know how can I render dropdown on right click of grid cell.
Basically I want user to perform some action on grid cell by right click.

1.When user right clicks the grid, I need to show them bunch of actions to be performed. Please help me how can I do that.

2. Other thing I want to know is, how can I add/remove columns in the grid dynamically?

It will be helpful

[2017-10-26 20:36] Dwaynekj commented on #631
Hello Vikrametc,

### Events

You can listen to events with grid.addEventListener, [see](https://github.com/fin-hypergrid/core/blob/c987a4d864778045c6f26c3c905e774db0a7ae79/demo/js/demo/events.js#L10), which will provide absolute position of the mouse from which you can create a div / container and position.

You also have the option to use the feature Chain if you want it to be launched before an

[2017-10-27 14:21] vikrametc commented on #631
Than you Dwayne,

Can you please let me know how can I get the absolute position from the
custom event which got fired in grid on right click.

When I debug, I didn’t find any.

Vikram
On Thu, Oct 26, 2017 at 4:36 PM Dwayne Jones <notifications@github.com>
wrote:

[2017-10-27 17:45] Dwaynekj commented on #631
It should be `e.detail.mousePoint`

[2017-10-30 15:16] vikrametc commented on #631
Hi Dwayne,

I am able to show the component at mouse click position.

I see another issue now,
I check whether user click on the header of grid by event.detail.gridcell.y
===0.

When I am not overlapping my component I am getting this value as 0 for
column header.

But when the component is overlapped, the event is not giving me proper
value.

It gives Gridcell.Y equal to 0 even though if click in

[2017-10-30 15:21] vikrametc commented on #631
I always gets X as -2 and Y as 0 no matter where I click in the grid

Vikram

On Mon, Oct 30, 2017 at 11:16 AM Vikram Singh <vikrametc@gmail.com> wrote:

[2017-10-30 15:23] vikrametc commented on #631
Never mind, I got it wrong.

On Mon, Oct 30, 2017 at 11:20 AM Vikram Singh <vikrametc@gmail.com> wrote:

[2017-11-06 16:30] RajendraOpenFin opened #632 "src="fin-hypergrid.github.io/core/build/2/fin-hypergrid.js getting 404 error where can i download this file"
where can I download fin-hypergrid.js file

[2017-11-06 20:33] dcchuck commented on #632
Hypergrid available as a node module on NPM [here](https://www.npmjs.com/package/fin-hypergrid).

Pre-built versions for inclusion in a script tag are hosted via the gh-pages branch of the core repo. You can copy the tags from the index page https://fin-hypergrid.github.io/ or access the builds directly on the gh-pages branch [here](https://github.com/fin-hypergrid/core/tree/gh-pages). It's in the

[2017-11-08 18:32] #631 closed

[2017-11-08 18:35] #632 closed

[2017-11-09 05:09] Dwaynekj commented on #630
@hugoeanogueira How about next thurs?

[2017-11-09 06:22] #600 closed

[2017-11-09 06:25] #495 closed

[2017-11-09 06:26] #526 closed

[2017-11-09 06:51] Dwaynekj commented on #520
Merging into another ticket

[2017-11-09 06:51] #520 closed

[2017-11-14 21:46] joneit opened #634 "data model options"
@Dwaynekj Hey DJ, While refining/updating issue #614 (v3 prep), I came across your change to the calling signature of the data source constructor, which I’m sure you recall was in support of group view's tree column.

You added two parameters to the constructor. While pertinent to the current “standard” datamodel, it is meaningless to a generic “black box” datamodel, which should not need to suppo

[2017-11-14 22:20] Dwaynekj commented on #634
Ok, I'll await the PR

[2017-11-22 15:29] frankiehf opened #635 "Mouse Scrollwheel is way too fast"
Id like to set how many rows to scroll with each mousewheel scroll. Right now in the demo its about 100 rows each, are you planning on some kind of option for that, or is it already there?
otherwise, can i have some advice on how to implement it, whats the portion of code to edit etc?

[2017-11-27 09:38] frankiehf commented on #635
fixed by
    onwheel: function (evt) {
        //this.index += evt[this.deltaProp];
        var offset = evt[this.deltaProp];
        offset = (offset > 0) ? 1: -1;  // scroll by 1 up or down
        this.index += offset;
        evt.stopPropagation();
        evt.preventDefault();
    },

i found another comment and kinda had to do my way around it so its ok, but seriously could you atleast fix y

[2017-11-28 17:49] joneit opened #638 "moustache vulnerability"
GitHub informed us that mustache@2.2.0 has a security vulnerability.

We will update to moustache@2.3.0 on our next release.

I have already made the edit to package.json in my 3.0.0 branch (was "2.2.0"; now "^2.3.0"). There is little point in pushing this change separately without also releasing new build files to npm and the CDN.

@dcchuck and @Dwaynekj If you guys feel it is urgent, we could do

[2017-11-28 23:34] Dwaynekj commented on #638
I'm ok with a hotfix to master

[2017-12-01 16:57] Dwaynekj commented on #638
@joneit ?

[2017-12-08 14:54] joneit opened #639 "Row's background color overrides cell's"
Should be the other way around.

[2017-12-08 20:16] joneit commented on #614
_Feedback from my team:_
* Let's see if we can move `getRow()` out of **Required** column.

[2017-12-08 21:36] joneit opened #641 "Bad refs to rowColumnIndex and treeColumnIndex"
[These lines](https://github.com/fin-hypergrid/core/blob/develop/src/renderer/index.js#L661-L667) , the context for`rowColumnIndex` and `treeColumnIndex` should be `this.grid.behavior` (not `this.grid`).

This resulted in `getColumnWidth()` always returning the default column width instead of the actual column width (not obvious when the actual column with _was_ the default).

This is a problem in

[2017-12-10 15:44] Dwaynekj commented on #638
@joneit ?

[2017-12-11 14:45] joneit commented on #634
@Dwaynekj Change of plan: I'm going to submit this today as a stand-alone PR to facilitate testing and review. (Moving away from large PRs.)

[2017-12-11 21:24] joneit opened #647 "Row Props"
Let's discuss row props.

The only row prop we currently support _for individual rows_ is height.

We also have `grid.properties.rowProperties` which is an array applied modulo to the grid; each element of the array is a properties collection. This is for easy row striping.

What we *don't* have is a general individual row properties object. My concern is performance degradation but the concern ma

[2017-12-12 00:03] Dwaynekj opened #649 "Min File Fails on Dynamic Props"
@joneit

I could use some help here

The min file does not correctly resolve `grid.properties.subgrids` nor `grid.properties.gridRenderer`

I wonder if `this.var` has anything to do with this
https://github.com/fin-hypergrid/core/blob/master/src/lib/dynamicProperties.js#L41

Also the sourcemap is missing.

[2017-12-13 14:02] oneleaf2k2 opened #657 "Setting ShowRowNumbers=false throwing errors in Chrome console"
I'm having the same issue as this other developer I found posting on StackOverflow here:
https://stackoverflow.com/questions/44141233/fin-hypergrid-js-in-chrome-errors-when-setting-showrownumbers-false

That post says an issue was raised but a link to that issue just gives a 404.

I'm trying to hide the row numbers columns and when I set showRowNumbers to false in the grid properties, the grid ren

[2017-12-13 14:18] oneleaf2k2 commented on #657
I found issue 594 is the same as this one. I'll close this one.

[2017-12-13 14:18] #657 closed

[2017-12-13 14:19] oneleaf2k2 commented on #594
Any update on this issue? I'm having the same problem trying to hide the row number column.

[2017-12-15 15:20] Dwaynekj commented on #649
@joneit Can you give me a hand here. I lost my debugging environment with the sourcemaps missing.

[2017-12-15 21:22] joneit opened #658 "placeholder"
disregard

[2017-12-15 21:24] #658 closed

[2017-12-18 21:11] joneit opened #659 "Dynamic property hierarchy?"
It would be nice if Hypergrid had a property to specify the properties hierarchy because I can see how some apps would prefer a different order, especially the ability to flip the order of applying row and column properties.

The current order is:

It would be nice to be able to flip it to:

Unfortunately, this is not possible in a performant way due to the current design. However it may be possib

[2017-12-21 00:53] joneit opened #660 "Defer "changed" methods"
The following should be able to be called multiple times, similar to `repaint()`, while deferring and collapsing all calls until the end of the thread:

* `behaviorChanged`
Does one of the following:
* `behaviorShapeChanged`
Recalculates scrollbars, followed by...
* `behaviorStateChanged`
Recalculate rects of visible cells, followed by a call to `repaint()`

Right now the two recalc operations are

[2018-01-04 03:06] nmichaud commented on #629
@joneit Are you able to take a look at this?

[2018-01-04 15:12] nmichaud opened #670 "ColumnSorting feature sends the wrong column index if there are hidden columns"
This should use the index from the currently visible columns:

https://github.com/fin-hypergrid/core/blob/master/src/features/ColumnSorting.js#L24

[2018-01-04 15:15] nmichaud commented on #670
Something like this:

var column = grid.behavior.getActiveColumn(event.gridCell.x);
grid.fireSyntheticColumnSortEvent(column.index, event.primitiveEvent.detail.keys);

[2018-01-05 12:15] hasanr opened #672 "filtering demo not working"
need clearer example of filtering demo, the current demo does not work for me,
append gives error on this line
grid.behavior.dataModel.append(require('datasaur-filter'));

[2018-01-05 14:08] LukeSheard opened #673 "Fix passive event listener warning in Chrome"
In Chrome Hypergrid generates a lot of non-passive event listener warnings from the scroll events which can be added to Hypergrid from

[code]

in `index.js`. I haven't been able to locate the corresponding code in the repo, so I'm not sure if this has already been patched though. Adding `{ passive: true }` as a last argument will squash this warning.

See https://www.chromestatus.com/feature/5745

[2018-01-08 12:00] joneit commented on #672
@hasanr Thanks for letting us know. Will address this week and let you know.

Heads up new versions of Hypergrid are forthcoming this month. There will be a 2.1.0 this week followed by a 3.0.0.

[2018-01-08 12:05] joneit commented on #673
@LukeSheard Thanks for bringing this to our attention. Will address for one of the forthcoming versions 2.1.0 & 3.0.0, both expected to be released this month.

[2018-01-08 12:07] joneit commented on #649
Will address this week. You may be onto something re: `var`.

[2018-01-08 12:28] joneit commented on #670
As discussed, not a bug: The event data always refers to the “grid” (_i.e.,_ visible or active) column index. The `getActiveColumn` Call should be in the handler. Closing…

[2018-01-08 12:28] #670 closed

[2018-01-08 15:39] joneit opened #675 "Row checkboxes without line numbers"
\[From @nmichaud] We currently can hide the column with the `showRowNumbers` property, but there is no way to leave the column visible but hide just the line numbers while leaving the checkboxes.

[2018-01-08 15:42] joneit commented on #675
Without breaking `showRowNumbers`, let's just add a `showRowCheckboxes` property. Only when _both_ are falsy would we hide the entire column.

[2018-01-08 15:43] joneit commented on #675
@nmichaud Without breaking `showRowNumbers`, let's just add a `showRowCheckboxes` property. Only when _both_ are falsy would we hide the entire column.

[2018-01-08 15:50] joneit commented on #675
@nmichaud Also let's add a `showRowColumn` dynamic prop which is an OR of the other two.

This one would be _non_-enumerable — so ignored by `saveState` — because the other two are the real props).

[2018-01-08 15:59] joneit commented on #675
@nmichaud Since "showRowColumn` sounds like an oxymoron, let's call it `showRowHandleColumn` which follows [`CellEvent.prototype.isHandleColumn`](https://github.com/fin-hypergrid/core/blob/master/src/lib/cellEventFactory.js#L204) nomenclature.

[2018-01-09 19:42] joneit commented on #649
to: @Dwaynekj  cc: @nmichaud

I found no issues with the min file. I tried a series of complicated dynamic property actions.

The current `develop` branch min file with the current chrome, safari, firefox, and opera. I still need to try it with IE 11.

Perhaps your issue was specific to a past commit in develop's history, or a past version of chrome? (I don't have a past version of chrome on my ma

[2018-01-09 23:34] joneit commented on #649
Tested on IE 11. No issues.

[2018-01-09 23:37] joneit commented on #649
Tested 2.1.0 release candidate on Chrome 50 (windows 8). No issues.
I'm closing this issue.

[2018-01-09 23:37] #649 closed

[2018-01-10 16:18] joneit opened #678 "Make all LNF (look & feel) properties dynamic"
Now that we are deferring grid recalculations and re-rendering till end-of-thread, to avoid mulitple occurrences of those operations, we should consider making all properties "dynamic" and add to the setters of each the appropriate call(s) to `beahviorChanged` and the like.

Advantages:

* This will have the dramatic effect of making the results of setting these properties in the console immediate

[2018-01-10 18:44] joneit opened #679 "Draft for v2.1.0 Release Notes"
\[These notes will be posted on the github [Releases page](https://github.com/fin-hypergrid/core/releases). Let's also consider reviving `./version-history.md`  and pasting a copy into there as well.]

Welcome to Hypergrid 2.1.0.

This is an interim release before the next major upgrade, 3.0.0, due out by end of this month (January, 2018).

The following is a (hopefully) comprehensive list of bug

[2018-01-24 17:12] #679 closed

[2018-02-02 15:13] burimshala opened #688 "How to use column picker feature"
An older version of this table supported a feature where you could reorder and show and hide various columns, unfortunately I am not being able to figure out how to use that feature on the most recent version.

On the Features I can locate a function called : moveSingleSelect but I have no idea how to consume it.

[2018-02-04 22:28] lancelab opened #689 "Filtering demo. Where is #619 pull request?"
Dear Community.

I cannot make filtering demo install.

I cannot find pull request #619 to follow the direction:
"NOTE: As of this writing, v3.0.0 has not yet been released, nor is it in a committed branch. To build this demo today, pull #619 and build it in another folder .... "

In which branch is it? I don't see it in Github site and not sure what to do with this info:

git config --add remote.

[2018-02-04 22:49] lancelab opened #690 "Beginner cannot get speed to understand the fin-hypergrid API"
Dear Community.

I don't see the forum for for fin-hypergrid, so please excuse me if this is a wrong place for the question.
(I put this question on stackoverflow.com but it gets no answer.
https://stackoverflow.com/questions/48586239/how-to-cooperate-with-fin-hypergrid-api-events
)

The question is: What is the "legal" or fin-hypergrid way to work with events?

If one creates event handler for ow

[2018-02-05 16:44] joneit commented on #689
@lancelab Thanks for your interest. Sorry for the (temporary) instability here. We are in the process of readying v3* for release. At that point I will update the filtering demo. We hope to be at "that point" within a week. My best advice is to check back next week. Thanks for your patience.
______________
<sup>* v3 is a major release with some breaking changes, mostly revolving around the data mo

[2018-02-05 23:28] lancelab commented on #689
Thank you, Jonathan.

It seems this forum is a right place to ask questions ...

1. From API, it seems that swapping element in columns array is a way to go to build
columns swapper on GUI. But it works in one way and does not in another:
If to get columns as grid.behavior.getColumn(columnIx);
and swap them, this fails.
If to do the same with
grid.behavior.columns[columnIx];
the approach works. Wh

[2018-02-07 14:41] lancelab opened #692 "Possible bug in core testbench file name"
File must be renamed to
cellEditors.js
in
https://github.com/fin-hypergrid/core/blob/master/demo/js/demo/celleditors.js

otherwise
gulp browserify-demo
fails

because it is called with:
initCellEditors = require('./cellEditors'),
in index.js

[2018-02-07 22:18] lancelab opened #693 "Errors in testbench demos"
Reproduced on
Version 55.0.2883.75 (64-bit) Linux

![2 1 2---error1---screenshot at 2018-02-07 16 09 14](https://user-images.githubusercontent.com/368709/35944542-6b2d269c-0c22-11e8-866a-80f9f9bca9a6.png)
![2 1 0---error2---screenshot at 2018-02-07 16 11 44](https://user-images.githubusercontent.com/368709/35944553-73d8ada2-0c22-11e8-8671-a3fbce8c7825.png)
![2 1 0---error2----screenshot at 2018-02

[2018-02-09 21:31] igorii opened #694 "Multiple Headers Support (Plugin out of date)"
Attempting to have 2 header rows on the latest release. Using the `grouped-header` plugin throws an error when calling `grid.installPlugins(require('grouped-header))`.

[code]

Attempting to do this by just having the secondary header as the first data row and fixing it in place with `fixedRowCount: 1` works, but at that point the leftmost index column is all off-by-one since the header counts as

[2018-02-14 12:40] burimshala opened #696 "Column calculators do not cover all cases"
If you try to create a calculator function that references items in the scope, than it fails to execute.

For instance if you have something like :

[code]

You will get an error : CellRenderer is not defined

This problems comes from src/lib/toFunction.js . I don't understand the component internals but it seems like it stringifies the calculator function and tries to parse it later.

[2018-02-15 16:18] joneit commented on #696
Hello @burimshala, The parsing algorithm is not expecting arrow functions. `function(row, columnName) { return CellRenderer[columnName] }` should work.

Furthermore, while calculators have no specific execution context at this time (just the global object), they could in a future version, and therefore should never be arrow functions (which do not respect the execution context).

Thanks for the fe

[2018-02-15 16:18] #696 closed

[2018-02-15 20:38] joneit commented on #696
@burimshala FYI, I've started a `v2.1.4` branch containing the `toFunction` fix I mentioned above ("By the way...") from the v3 branch.

`2.1.4` also contains a logic fix to calculators that likely doesn't affect your usage, which is that the `column.calculator setter` was not calling toFunction although the `column.properties.calculator` setter was. They are now both equivalent as intended.

[2018-02-15 21:24] joneit commented on #690
Hello Ian,

First of all, let's make sure you are aware that there is only one HTML element, a `<canvas>` element (accessible as `myGrid.canvas.canvas`).

Although you could in theory listen for DOM events on that element, the `fin-` events (which already do this) decorate the event object with useful information, such as the coordinates of the cell under the mouse.

Regarding stop propagation....

[2018-02-15 21:30] joneit commented on #692
Thanks, I've edited the path in index.js in the v2.1.4 branch (rather than renaming the file).

[2018-02-15 21:30] #692 closed

[2018-02-15 22:39] joneit commented on #693
Thanks for forwarding these.
1. Fixed in 2.1.3 (released this morning).
2. Fixed in 2.1.2 release.
3. Same as #2.
4. Same as #1.

[2018-02-15 22:39] #693 closed

[2018-02-16 04:35] lancelab commented on #690
Joneit,

thank you for detailed response and for your work on this nice application.

Put things simple, I was tasked to make a POC "plugin" where user takes pieces of a grid and
rearranges them in 3D scene by mouse drag.

The problem was: when click happens, then API highlights the column or may does something else which is undesirable.

The allocated task time was short and I was not able to com

[2018-02-16 13:31] joneit commented on #690
Hmmm thx interesting demo.
Regarding cell selection, you can suppress by setting one of:
[code]
You can also remove CellSelection from the feature chain.

[2018-02-16 13:55] joneit commented on #694
Thanks for the heads up. I will look into the grouped header plug-in issue.

If you don't need to actually group columns, and all you want is a subheader, you can implement an alternative header data model? The built in HeaderSubgrid.js data model only supports 1 row.

To make it show two rows:
#### STEP 1
[code]
#### STEP 2
Assign secondary header strings to the column objects:
[code]
(Or `getAct

[2018-02-16 13:56] joneit commented on #694
Correction:
[code]

[2018-02-16 15:19] joneit commented on #694
hey @igorii I looked into grouped header plug-in and **could not reproduce the error** you reported. Where did you get the plug-in? I used the one in [old-addons](https://github.com/fin-hypergrid/old-addons/tree/master/grouped-header) and tried it with Hypergrid v2.0.2, v2.1.0, v2.1.2, and v2.1.3 (on github but not on npm), and v2.1.4 (to be published later today to github and npm).

caveat: old-a

[2018-02-16 16:38] joneit commented on #675
This is implemented in v3.0.0 as:
* `grid.properties.rowHeaderNumbers` (bool)
* `grid.properties.rowHeaderCheckboxes` (bool)
* `showRowNumbers` (bool) retained as a legacy property; it's now a setter that sets both `rowHeaderFeatures` props and a getter that gets `rowHeaderCheckboxes || rowHeaderNumbers`

[2018-02-16 16:38] #675 closed

[2018-02-16 21:12] lancelab commented on #690
Thank you.

[2018-02-28 16:23] joneit commented on #689
Hello Konstantin, sorry I missed this. Here are my responses:

**For column swapping, just set `grid.properties.columnIndexes` or `grid.properties.columnNames`.** Both are array accessors that map the _full column list_ into the _active column list_.

**The _active column list_ is the ordered set of currently active columns.** ("Active" means all "visible" columns. This includes all columns curren

[2018-02-28 16:24] joneit commented on #689
Hello @lancelab (Konstantin), sorry I missed this. Here are my responses:

**For column swapping, just set `grid.properties.columnIndexes` or `grid.properties.columnNames`.** Both are array accessors that map the _full column list_ into the _active column list_.

**The _active column list_ is the ordered set of currently active columns.** ("Active" means all "visible" columns. This includes all co

[2018-02-28 17:56] lancelab commented on #689
Thank you. I may reply after examining this in details.

[2018-03-05 15:51] joneit commented on #689
@lancelab Regarding [the filtering demo](https://github.com/fin-hypergrid/fin-hypergrid-filtering-demo), I have updated (and greatly simplified) it.

Note this version is not backwards compatible with v2; it [depends on the current alpha](https://github.com/fin-hypergrid/fin-hypergrid-filtering-demo/blob/master/package.json#L22) (for Hypergrid 3.0). This will be updated when 3.0 is released.

Plea

[2018-03-06 08:26] joneit commented on #688
**For column swapping, just set `grid.properties.columnIndexes` or `grid.properties.columnNames`.** Both are array accessors that map the _full column list_ into the _active column list_.

**The _active column list_ is the ordered set of currently active columns.** ("Active" means all "visible" columns. This includes all columns currently viewable in the grid, including any that may be horizontall

[2018-03-06 20:44] joneit commented on #689
@lancelab I have added a [column filter demo](https://github.com/fin-hypergrid/fin-hypergrid-column-filter-demo). Each column filter may be either an arbitrary expression of any complexity or a simpler more convenient syntax (see readme). All column expressions are combined to create a global expression behind the scenes (but shown in the UI of the demo).

[2018-04-02 16:11] ktdilsiz commented on #689
@joneit Regarding the [filtering demo](https://github.com/fin-hypergrid/fin-hypergrid-filtering-demo), I am working on a very simple implementation of filtering and I am working with v2. I understand that the current demo is not backwards compatible and I was wondering if you could give me some direction into where I can find some information/examples about how to implement filtering/sorting in v2

[2018-04-09 13:00] nclsclsn opened #708 "Format cannot be overwritten in getCell"
In renderer/index.js, format is set from grid properties and it cannot be dynamically overwritten via:

var cellRenderer = behavior.dataModel.getCell(config, config.renderer);

Is there a reason for it? If not, I believe it would make sense to make that property dynamic like any other.
Thanks!

[2018-04-09 14:58] joneit commented on #708
Hello Nicolas, Thanks for raising this issue...

Looks like a bug since (at least) **v1.3.0**… To clarify, by "grid properties" you actually meant cell || column || grid (and as of **v2.1.0**, row); and by "dynamic" you actually meant "as mutated by getCell"; and the errant line [from renderer/index.js] is actually:
[code]
which we shall change to:
[code]
I will propose this correction for a new p

[2018-04-09 15:01] joneit commented on #708
I meant to add that, as a reminder, `getCell` is a programmatic remedy that is not as efficient as the "declarative" approach of setting column property (or cell property).

[2018-04-09 15:03] joneit commented on #708
Hello Nicolas @nclsclsn, Thanks for raising this issue...

Looks like a bug since (at least) v1.3.0… To clarify, by "grid properties" you actually meant cell || column || grid (and as of v2.1.0, row); and by "dynamic" you actually meant "as mutated by getCell"; and the errant line [from renderer/index.js] is actually:

config.formatValue = grid.getFormatter(format);
which we shall change to:

conf

[2018-04-09 17:10] joneit commented on #708
@nclsclsn PR #709 is up for review.

[2018-04-10 08:52] nclsclsn commented on #708
Thanks Jonathan for the quick feedback, clarification and fix.
I definitely favor the declarative approach when I can but formatting is data driven in my current use case i.e. some rows use formatting F1 when a field is set to X while others use formatting F2 when the same fied is different than X.
I believe I can't achieve such a conditional formatting with the declarative approach, can I?

[2018-04-10 13:56] nclsclsn opened #710 "Column auto sizing is only applied when the cursor hovers the grid for the first time"
I'm running a single page application and I'm creating a new grid each time i'm clicking on a different link of my navigation toolbar.
Today I have upgraded from 2.1.0 to 2.1.6.
Before the upgrade, the grid was properly rendered with the column size automatically calculated. Now the auto sizing gets in effect only when I hover the grid with my cursor.
I haven't changed my code and I am still calli

[2018-04-10 14:18] joneit commented on #710
Nicolas,

Thanks again for your feedback.

These very simple examples seem to auto-size their columns:
* https://fin-hypergrid.github.io/core/2.1.6/example.html (calls `setData`)
* https://fin-hypergrid.github.io/core/2.1.6/multiple-grids.html (uses `data` option)

Please compare your code with the code in the examples' `<script>...</script>` elements. See if you can reduce your code to the simple

[2018-04-10 16:33] rapzo opened #711 "Broken dep in package-lock.json"
Not an issue per se, but just so everyone knows, `package-lock.json` was generated with `synonomous` pointing to a symlink/linked package.

Prolly not worth the PR, but i'd gladly do it if you guys want it.

[2018-04-10 16:42] joneit commented on #711
Thanks @rapzo for the feedback! I noticed this last night much to my chagrin. Already taken care of in my 2.1.7 branch — to be released probably by EOD tomorrow if not today.

[2018-04-10 16:45] joneit commented on #710
@nclsclsn fyi edited previous comment `behaviorChanged` -> `behaviorShapeChanged`. Please let me know if calling `grid.behaviorShapeChanged()` (even if just in the console) addresses this issue. If will see if it can be added to core code.... J.

[2018-04-10 16:54] rapzo commented on #711
Sweet! Thanks!

[2018-04-10 16:54] #711 closed

[2018-04-11 08:34] nclsclsn commented on #710
Hi Jonathan,

Thanks for your suggestion.
The setTimeout solution didn't work out for me but I've found another way to auto size the columns immediately.

I am receiving row information from a websocket and I'm then calling:
                    self.grid.behavior.dataModel.addRow(row);
                    self.grid.behavior.reindex();
                    self.grid.behaviorChanged();

With only the

[2018-04-11 16:03] joneit commented on #710
Nicolas, ok I'm going to close this issue for now.... but it would still be useful if you could post a minimal example where this fails so I can get to the bottom of it. thx J

[2018-04-11 16:03] #710 closed

[2018-04-12 09:42] nclsclsn commented on #710
I've tried to do a minimal example without Angular and websocket but i can't come up with something that triggers the issue.
I will in any case revisit my implementation fully when HyperGrid 3.0 is out and I will monitor if it is still happening.

[2018-04-16 12:08] nclsclsn commented on #710
Brilliant, it works fine, thanks!

[2018-04-24 14:56] vikrametc opened #715 "selecting part of grid(multiple cell) and doing copy pasting"
Hi Team,

I have a requirement to copy part of the grid using arrow keys and paste the selected grid cell in xls, how can I do this?

I have attached the key-down event and able to trace user selection but how to get the value of those selected cells in Ctrl+C?
Please help me

[2018-04-24 15:12] joneit commented on #715
hello @vikrametc ...

Ctrl-C should work (Command-C on mac).
Or are you saying you want to do the copy programmatically?

Jonathan

[2018-04-24 15:16] vikrametc commented on #715
Hi Jonathan,

Basically I need to know what column user has selected and what is the ID for the row which user has selected and copied.

How can I do?

[2018-04-24 15:25] joneit commented on #715
[code]

[2018-04-24 15:30] joneit commented on #715
Following also works:
[code]

[2018-04-24 15:33] vikrametc commented on #715
Thank you Jonathan,
left, right, top, bottom worked.

Vikram

[2018-04-24 15:34] vikrametc commented on #715
One more thing should I listen for key-down event for selection or is there any other event I can listen for the grid cells selection?

[2018-04-24 17:14] joneit commented on #715
@vikrametc just saw your one more thing:
[code]

[2018-04-25 08:00] satheeq opened #716 "How to use full width of the canvas regardless of scrollbar"
Due to right scroll bar, canvas table width not included scroll area.
Can we scroll area as overlay and let the cells use full width?

[2018-04-25 09:12] satheeq commented on #507
@Dwaynekj the provided tree-column api demo URL is **broken/not working**. Can we get a working demo?

[2018-04-25 14:52] vikrametc commented on #715
Hi Jonathan,

Thank you for your response, now since I got the left, right, top and bottom value, using this how can I get the cell value?

I am doing somehting like this this.grid.getGridCellFromMousePoint(event.detail.mouse).cellEvent;
but this doesn't give me the actual cell.

Is there any other way?

[2018-04-25 14:59] joneit commented on #715
please tell me the use case: what is the actual goal? i thought you were cutting & pasting to excel AND that you wanted to know the source coordinates.... just to be clear, cutting & pasting is already fully supported.

[2018-04-25 15:05] vikrametc commented on #715
So I have a use case which is basically when user do a selection and doing copy pasting in other blotter(not excel), I need to get the data for those selection and show the updated blotter.
To do this, I need to know the columns Name of the selection and the dataRow for the selection.
Using left, right, top, bottom value how can I get the column header names and the respective dataRow?

Thank you

[2018-04-25 15:52] joneit commented on #715
Copy (ctrl-C or command-C) puts the currently selected values in the copy buffer, tab-separated by column and newline-separated by row.

But even without user interaction (typing ctrl-C), the selected cells are available to you. For example, in [the demo](https://fin-hypergrid.github.io/core/demo/index.html), I select a region:

![region](https://cdn-pro.dprcdn.net/files/acc_645730/2djo7c)

In the

[2018-04-25 17:17] vikrametc commented on #715
Thank you Jonathan,
This is exactly what I wanted to know. Thanks for your help.
Can you provide the documentation URL where I can see the info about using grid.

Thanks,
Vikram

[2018-04-25 22:32] joneit commented on #715
Hypergrid documentation is a work-in-progress. We definitely could use some help in this area! Hopefully after release of v3.0.0 I can put some time into it.

The documentation currently consists of:
* some [wiki pages](https://github.com/fin-hypergrid/core/wiki) that explain some concepts
* jsdoc API documentation (see [`getRowSelection`](https://fin-hypergrid.github.io/core/doc/Hypergrid.html#ge

[2018-04-25 22:32] #715 closed

[2018-04-26 19:32] igorii opened #717 "Cell contents munged during column resize"
Tested on master and 2.1.4. See attached gif - the gif moves a bit fast, but watch the last row for clearest example. When resizing a cell to be too small, the cell contents are not properly truncated, and the characters become munged.

![out](https://user-images.githubusercontent.com/2524964/39327601-7cb935dc-4966-11e8-90cd-4dc81a071f0b.gif)

[code]
[code]

[2018-04-30 14:53] joneit commented on #717
hello @igorii, String truncation and column clipping strategies are controlled by the following two options (respectively):
* [`grid.properties.truncateTextWithEllipsis`](https://fin-hypergrid.github.io/core/doc/module-defaults.html#.truncateTextWithEllipsis)
* [`grid.properties.columnClip`](https://fin-hypergrid.github.io/core/doc/module-defaults.html#.columnClip)

Currently the default strategy

[2018-04-30 15:03] #690 closed

[2018-05-01 21:13] sachindevtripathi opened #719 "Sorting and filtering for hypergrid v2.1.8?"
How to achieve sorting and filtering for hypergrid v2.1.8? I saw some old code which is using local addons.
Could you provide an example using npm based packages or any available demo?

[2018-05-01 21:39] joneit commented on #719
hello @sachindevtripathi yes I will post something this week

[2018-05-01 23:05] sachindevtripathi commented on #719
I realized documentation is not describing what and how about hypergrid features.  Could you please add some description on:
1. How to use features(e.g. ColumnSorting and Filtering, both are part of fin-hypergrid package), if they are reusable.
2. What is the segregation for behavior, properties and dataModel. Some description would help.
3. Creating a react hypergrid wrapper and using both sortin

[2018-05-02 12:35] joneit commented on #719
Sorting and filter are supported in the UI (_i.e.,_ in the feature chain) but are not otherwise supported by "the package." These features are entirely dependent on data model support and responsiveness to these calls.

The sorting and filtering data models for v2.x.x are archived in the [old-addons](https://github.com/fin-hypergrid/old-addons) repo where you will find functional examples.

For v3

[2018-05-03 17:54] #717 closed

[2018-05-23 14:39] mwindas opened #721 "CPU spikes when scrolling by click-holding the scrollbar"
This does not occur when scrolling with mousewheel or arrow keys.

[2018-05-23 15:28] sachindevtripathi commented on #719
Thanks for your detailed answers
I have few more questions and follow-ups:
1.  Any update on Hypergrid v3.0.0 release?
2.  Did you get chance to post something on sorting and filtering for Hypergrid v2.1.8?
3. I am trying to show ticking data using Hypergrid. What should be the approach to do live updated to the data? any example would help.

[2018-05-23 22:49] joneit commented on #621
Resolved by **Hypergrid v2.2.11** (PR #722).

[2018-05-23 22:49] #621 closed

[2018-05-23 22:49] joneit commented on #623
Resolved by **Hypergrid v2.2.11** (PR #722).

[2018-05-23 22:49] #623 closed

[2018-05-24 17:48] joneit commented on #291
Resolved by **Hypergrid v2.1.11** (PR #722).

[2018-05-24 17:50] joneit commented on #290
Resolved by **Hypergrid v2.1.11** (PR #722).

[2018-05-24 17:50] #290 closed

[2018-06-05 04:44] timkpaine opened #723 "Vertical layout?"
Is there any ability to configure the chart so the header columns are vertical? I.e. the normal horizontal layout looks like
<img width="653" alt="screen shot 2018-06-05 at 12 34 58 am" src="https://user-images.githubusercontent.com/3105306/40955566-d5db319a-6858-11e8-8f60-bdf12c3188fe.png">

And i'm looking for something like:a
<img width="105" alt="screen shot 2018-06-05 at 12 41 01 am" src="htt

[2018-06-05 14:15] joneit commented on #723
@timkpaine This would require an alternate grid renderer, which is not huge, although there will be ripple effects with other parts of code that assume y is rows and x is columns. So this would be opening a whole can of worms. That said, this would certainly be a worthy feature...!

Have you considered:
1. making the headers an actual row
2. subclassing the data model to transpose the data on the

[2018-06-06 13:00] Tohix opened #724 "Handle right click"
How i can handle right click on some column? (3rd version)

[2018-06-07 14:30] mofojed commented on #724
You can listen for the `fin-context-menu` event on grid:

`grid.addEventListener('fin-context-menu', this.handleContextMenu);`

From the event you can get the column clicked on.

[2018-06-14 06:13] punsirualwis opened #729 "Tree View Plugin for Hypergrid 3.0.0"
How to achieve tree view (expandable rows) in hypergrid v3.0.0. The current given plugin repository is empty.
https://github.com/fin-hypergrid/tree-view-plugin

[2018-06-14 16:59] joneit opened #730 "gridlines vs. by-cells renderer"
Just noticed (in [row-props.html](https://fin-hypergrid.github.io/core/2.1.7/row-props.html)) that as of `2.1.7`, for unknown reasons, the [`by-cells`](https://github.com/fin-hypergrid/core/blob/master/src/renderer/by-cells.js) grid renderer is incompatible with the grid lines algorithm. ☹️

[2018-06-19 04:27] satheeq opened #732 "Old addon support for v3"
Yet there are many old addons not supporting latest v3 changes. Any roadmap plan that we can get to know about latest updates?

[2018-06-25 14:43] deviousasti opened #733 "Error in terminate()"
[code]
`this.grids` is undefined.
If the objective is to remove the grid from the global list of grids,
shouldn't the last line be `y.grids.splice(this.grids.indexOf(this), 1)`.

[2018-06-27 17:07] joneit commented on #730
Resolved with PR #735 (see).

[2018-06-27 17:07] #730 closed

[2018-06-28 01:30] joneit commented on #733
Good catch thanks. Obviously method had never been tried! Will be fixed in next patch release v2.1.15 (PR #735, commit b6fce08).

[2018-06-28 01:32] #733 closed

[2018-06-28 17:59] #724 closed

[2018-07-13 20:36] giok1992 opened #740 "Scrolling from bottom to top"
Hello,

We’re trying to develop an order book for trading, and we are using two tables. One for buy orders and another for sell orders.

Here is a screenshot of an example:

https://puu.sh/AUM2i/4976cd00aa.png

The buy table scrolls down as normal, as it starts from lowest price down to the highest price.

The sell table should scroll from bottom (low price) to the top (high price).

Can anyone su

[2018-07-13 23:55] joneit commented on #740
Are you merely asking how to programmatically set the scroll position to an arbitrary position?

[2018-07-14 01:13] giok1992 commented on #740
Not just to set at an arbitrary position, but rather make that the default position. So let’s say it’s set at the very bottom of the table, if a new item is added to the very bottom, the scroll bar should not move up, but rather stay at the very bottom.

[2018-07-14 01:45] joneit commented on #740
to set scroll to bottom after setting up grid data:
[code]
after doing your add row (however you're doing it):
[code]

[2018-07-18 05:58] giok1992 commented on #740
Hello joneit,

We have been trying to implement your solution but we can't get it to work:

`grid.setVScrollValue(Infinity);`

Here is the code we're using:

`grid.setData(data);
grid.setScrollingNow(true);
grid.setVScrollValue(Infinity);
grid.setVScrollbarValues(Infinity);`

It doesn't seem to do anything on our end, and it doesn't throw an error either.

We had no luck using absolute values eith

[2018-07-26 17:19] joneit opened #741 "Regression when no data rows"
\[Sumitted on behalf of @msturdikova]

Seen in v3.0.1 in console on empty data set:

[code]

[2018-07-27 16:23] joneit commented on #741
Fixed in PR #742 : Hypergrid v3.0.2 which will be released today or over weekend.

[2018-07-27 16:23] #741 closed

[2018-08-01 13:20] mofojed opened #743 "License is misleading"
In `package.json`, it indicates this project is using the MIT license.

However, in the `LICENSE` file, it is an OpenFin license, which looks the same as MIT license but with the added clause:

[code]

This is very misleading. Since many people will import packages through npm and pull the licenses from `package.json`, they could think it is just an MIT license, when it is in fact not. `package.js

[2018-08-09 17:16] RandomGHUser opened #744 "Can column widths be auto-fitted to canvas size?"
If I have a grid width of 1000px, is there a way for hypergrid to dynamically resize columns to take up the entire space of the grid, and recalculate on canvas resize?

Other grids (such as slickgrid) will do this, and will only display horizontal scrollbars when the entire grid width is less than each cell's minimum width.

Apologies if this has already been discussed, I'm seeing a lot of broken

[2018-08-09 18:03] joneit commented on #744
There is no setting for this but you might try:
1. `grid.addEventListener('fin-grid-resized', fn)` and in your `fn`:
2. iterate through active column list (`grid.behavior.colums.forEach()`)
3. calling `grid.beahvior.setColumnWidth()` on each column

[2018-08-09 18:41] RandomGHUser commented on #744
Seems to work well, thank you.   I will build a function that will give me the functionality I'm looking for.

[2018-08-09 18:46] joneit commented on #744
Cool. closing...

[2018-08-09 18:46] #744 closed

[2018-08-09 19:32] joneit opened #745 "Regression: editOnNextCell broken"
`grid.properties.editOnNextCell` is `false` by default. When set to `true` it is supposed to open the next cell for editing when cell editor is closed with the enter, tab, arrow keys. It is currently opening the correct cell but instead of superimposing the cell editor over the cell, the cell editor appears at the top left of the grid, which is incorrect (and very confusing).

[2018-08-10 15:34] RandomGHUser opened #746 "How to manipulate scrollbar style / position?"
Is there a way to change the scrollbar look / position (even set it to the browser default, showing on the side of the grid?)

By default, it is a mostly-transparent hover over the grid itself, the header, and does not have arrows at the ends, which makes it difficult to see and scroll.

There have been many topics on this in the past, and a couple regarding enhancing the documentation (does that

[2018-08-14 19:40] nowherenearithaca commented on #555
looking for just such a thing right now - can't seem to find anything yet

[2018-08-14 21:34] nowherenearithaca commented on #555
ok - looks like it's setFixedColumnCount on the behaviors thing:

https://fin-hypergrid.github.io/core/2.1.15/doc/Behavior.html

https://github.com/fin-hypergrid/core/blob/master/src/behaviors/Behavior.js#L916

[2018-08-15 05:29] nowherenearithaca commented on #545
ahh - you get the behavior to work with from grid.behavior and then can set its properties

[2018-08-15 06:32] nowherenearithaca opened #747 "Adding second header row that has some controls in it for each column?"
Curious how you would you go about adding a second header row that has some widgets in it for each column?

[2018-08-15 16:03] nowherenearithaca commented on #463
@Dwaynekj Any gotchas you remember for angular integration?

[2018-08-16 15:18] RandomGHUser commented on #746
Still unsure about how to do this, is there any documentation?  I'd rather disable the custom scrollbar and use the standard system scrollbar if possible.

[2018-08-17 03:03] joneit commented on #746
Yes, it lacks documentation, but it is completely configurable, both in appearance and positioning.

I will write up documentation and have _something_ up there by Monday.

The API does not include arrows but I will show you how to create your own.

No, you cannot use the system scrollbars, because the grid is actually never larger than what you see. (It is re-drawn on every animation frame.)

[2018-08-18 19:23] nowherenearithaca opened #748 "How do you hide a row?"
I can see how to hide columns, and how to set row background colors, but it's not clear how to hide/show specific rows.

[2018-08-18 20:09] joneit commented on #748
Rows cannot be "hidden"; it is up to the data model to maintain the set of rows. One way to do this is to have a data model with a subclass that maintains its own `data` array, based on an `index` array that maps visible rows from the superclass's `data` array. Take a stab at it and let me know if you get stuck.

[2018-08-18 20:12] nowherenearithaca commented on #748
thx - will do

[2018-08-21 16:56] joneit commented on #748
I just released [`datasaur-indexed@3.0.0`](https://www.npmjs.com/package/datasaur-indexed/v/3.0.0). It does what I prescribed above but was out of date. It is now compatible with Hypergrid 3.0 so you can use it.

[2018-08-21 18:35] RandomGHUser commented on #746
Thank you, I am looking forward to it...when the documentation is posted, could you provide a link?

[2018-08-21 21:03] nowherenearithaca commented on #748
thx for letting me know - still familiarizing myself with things in general as I can - I know the things I want to do, it's just a matter of mapping that to your implementation of everything.

[2018-08-23 18:23] RandomGHUser opened #749 "Column resize behavior - resize only adjacent columns, not entire grid"
The default column resize behavior is to stretch/shrink the column to the left of the mouse cursor, while just moving the rest of the canvas on the right side of the cursor.  Is there a way to change this behavior, so that only the column to the right of the cursor gets expand/shrunk with the left, so that the rest of the grid does not get affected by column resize?

[2018-08-23 19:57] joneit commented on #749
Yes, but it's not a feature. You would have to monkey-patch at least the `handleMouseDown` and `handleMouseDrag` method in the column resizing _feature,_ something like the following (untested):

In `handleMouseDown` add following lines to note the next column (column to the right) and its starting width:
[code]
In `handleMouseDrag` add following lines to add a second call to `setColumnWidth` for

[2018-08-23 20:02] joneit commented on #749
Yes, but it's not a feature. You would have to monkey-patch at least the `handleMouseDown` and `handleMouseDrag` method in the column resizing _feature,_ something like the following (untested):

In `handleMouseDown` add following lines to note the next column (column to the right) and its starting width:
[code]
In `handleMouseDrag` add following lines to add a second call to `setColumnWidth` for

[2018-08-24 21:26] RandomGHUser commented on #749
I tried your code, but it didn't seem to work, I put in a version that quasi-works
Under handleMouseDown:
[code]

Under handleMouseDrag:
[code]

It works ~ 80% of the time, but sometimes it will not find the next column, or decides to resize a column that is not adjacent to the current one.   Any ideas on correcting the code above?

[2018-08-26 15:40] joneit commented on #749
Hmmm.... so the problem I think is that your `columnIndex + 1` is too simplistic because `columnIndex` is a _data_ index from the ordered set of _all_ columns (`behavior.allColumns`), but you need the next _grid_ index from the ordered set of _active_ columns (`behavior.columns`). (Sorry about the confusion of the internal namings which is due to historical reasons.)

As for my code, it was incomp

[2018-08-27 13:19] MTeres opened #750 "RowResizing will be implemented?"
I would like to know if 'RowResizing' will be implemented?
In the current state what are the blocking points for this feature?
Currently this feature is commented and looking at the implementation seems not ready for that yet.

Thanks!

[2018-08-27 13:44] joneit commented on #750
Thanks, Marcus, for bringing this up. You are referring to UI row sizing, which was a _feature_ that worked in the original version. Not sure when or why it got turned off. I will discuss with the team about resurrecting it for `3.1.0` (end of Sept.) and let you know.

In the meantime, be aware that rows can be programmatically sized with [`setRowHeight`](https://fin-hypergrid.github.io/core/doc/H

[2018-08-27 13:51] MTeres commented on #750
Ok, I will wait for the feedback!
Thanks again.

[2018-08-27 17:00] RandomGHUser commented on #749
Thank you for your response, the behavior is still erratic with sliding columns. While it works the majority of the time, sometimes it will drag two columns or resize oddly.

Example (all dummy data):
![Slide Example](https://thumbs.gfycat.com/NaiveMeagerBaiji-size_restricted.gif)

[2018-08-27 20:37] joneit commented on #749
I'm adding this as a feature for v3.0.2:
* The new column property is `resizeNextColumn`.
* The default is `false`.
* Set `column.properties.resizeNextColumn` to truthy for selected columns; or
* Set `grid.property.resizeNextColumn` to truthy for all columns.

I hope to release v3.0.2 tonight but certainly by EOW.

[2018-08-27 20:48] joneit commented on #749
Here is the jsdoc comment for the default definition:
[code]

[2018-08-27 20:54] joneit commented on #749
I'm changing the property name to `resizeColumnInPlace` to make it more descriptive and to the point.

[2018-08-28 02:53] joneit commented on #745
Fixed in 3.0.2 (PR #742)

[2018-08-28 02:53] #745 closed

[2018-08-28 14:15] joneit opened #751 "Dragging column when column(s) selected throws error"
Moving column when column(s) selected throws an error and leaves column selection and column moving in an invalid state.

Solution would seem to be simple: When grabbing a column to move it, we need to deselect any selected columns (as we are doing with cells).

[2018-08-28 14:36] joneit commented on #751
No simple solution; `grid.selectionModel.columnSelectionModel.clear()` is already being called.

[2018-08-28 15:39] RandomGHUser commented on #746
Another request for the scrollbar usage - when mousedowning somewhere along the scrollbar area (but not directly on the scroller itself), the behavior currently acts as if I am holding the scroller, and moving up or down will scroll the page.

Is there a way to have this behavior modified to act like a typical scroller (where the behavior would be to continually scroll the grid until mouseup or un

[2018-08-28 16:16] joneit commented on #751
Fixed in v3.0.2 (PR #742, commit 901ea16).

[2018-08-28 16:16] #751 closed

[2018-08-30 00:45] joneit commented on #749
@RandomGHUser Did you try 3.0.2 (released this morning)? lmk thx

[2018-08-30 15:14] RandomGHUser commented on #749
Tested 3.0.2 with the resizeColumnInPlace attribute, it is working quite well so far, I will report any issues if they occur, thank you for taking the time to implement this.

[2018-08-30 15:14] #749 closed

[2018-09-06 12:04] dmaevsky opened #753 "Cancelling the editor loses focus"
Looks like after I press Escape while editing a cell, the keyboard navigation does not work any more until I click another cell with a mouse

[2018-09-06 15:39] #748 closed

[2018-09-06 15:40] joneit commented on #753
Thanks for the heads up. I will look into this today.

[2018-09-07 00:43] dmaevsky opened #755 "PgUp / PgDown navigation does not change current selection"
It scrolls the viewport, but does not perform the actual "navigation": the selected cell stays the same, which means that a further arrow key press would scroll the viewport back to the original position. Hope this is not  intended behavior.

[2018-09-09 13:31] joneit commented on #746
Hey good morning, been out of sorts, but yes I will have this done by EOD today!

[2018-09-12 18:44] RandomGHUser commented on #746
When you're able to get the scrollbar documentation done, please confirm, thanks again

[2018-09-20 18:00] RandomGHUser commented on #746
Squeaky wheel here, checking the status...

[2018-09-26 12:53] Revathigb opened #757 "TypeError: Cannot read property 'getRowCount' of null at Constructor.getRowCount using newer version Fin- Hypergrid 3.0.1 version"
Hi,
In my angular app when Hypergrid is created getting bunch of type errors like cannot read propety 'getRowCount','getLogicalRowCount' etc,

Note: Didn't face this issue in older version Hypergrid 2.0.3 after upgrading Fin-hypergrid version 3.0.1 getting  above mentioned errors.

 Can anyone help me to fix this?

[2018-09-26 14:19] Revathigb opened #758 "Hypergrid 3.0.1 showcheckbox"
When a new row is added to the hypergrid,If a row is checked it selects all the rows in the hypergrid.
Unable to  deselect the checkboxes.
After refreshing the app the checkbox select or unselect works.
Need help to resolve this issue :)

Thanks

[2018-09-26 16:31] joneit commented on #746
As you may have noticed, the release notes for Hypergrid 3.0.3 mention scrollbar tutorial, which you can find [here](http://fin-hypergrid.github.io/core/demo/formatter-workbench/?p=26).

[2018-09-26 16:31] #746 closed

[2018-09-26 16:33] joneit commented on #758
I'm not seeing this behavior. How are you adding rows? Did you call `myGrid.behaviorShapeChanged()` ?

[2018-09-26 16:40] joneit commented on #757
@Revathigb is this still an issue for you? because I see you've submitted #758 suggesting you've moved beyond this error. please either close the issue or confirm with a comment if it is still an issue.

[2018-09-26 18:37] Revathigb commented on #758
I'm adding dynamically using form and for behaviourchange I'm using grid.behaviorChanged();

[2018-09-26 18:39] Revathigb commented on #757
This issue is not resolved.When a hypergrid is created.I get these errors even after hypergrid is initialize.

[2018-09-27 21:22] RandomGHUser opened #759 "schemas - are there max and min cell width options?"
I have browsed the custom schema areas and property pages online, but am not seeing any options for min and max width for cell width.   Example: if I want a cell to have a max width of 20px, I'd imagine the syntax as something like
[code]

If this does not currently exist in some form, I can create my own function easily enough by using some math, iterating the columns and setting the column width

[2018-10-03 17:52] RandomGHUser opened #760 "Scrollbar enhancements/fix request"
~~When dragging the scrollbar, if leaving the grid element and releasing the mouse button, the grid does not detect it, and still believes that the mouse button is still down when hovering backing over the grid (so it will scroll even though the mouse button isn't down).~~ \[Moved to new [finbars Issue #6](../../finbars/issues/6)]

~~Also want to request the scrollbar functionality be enhanced to

[2018-10-04 21:44] joneit commented on #757
@Revathigb We need a bit more to go on here. Please reduce the errant use case to a minimal-demonstrable along the lines of example.html ([demo](https://fin-hypergrid.github.io/core/demo/example.html), [github](https://github.com/fin-hypergrid/build/blob/master/demo/example.html)).

[2018-10-04 22:04] joneit commented on #647
General row prop support added in [2.1.0](https://github.com/fin-hypergrid/core/wiki/Release-Notes:-v2.1.0#row-properties).

[2018-10-04 22:04] #647 closed

[2018-10-05 15:04] joneit commented on #760
Hello @RandomGHUser, We appreciate your feedback. I am moving your second paragraph to a new ticket. In future please submit multiple issues as _separate_ tickets.

[2018-10-05 15:36] joneit commented on #760
I am moving your first paragraph to [a new issue](../../finbars/issues/6) in the `finbars` repo.

[2018-10-05 15:36] #760 closed

[2018-10-06 15:35] joneit opened #761 "Implement maximumColumnWidth property"
_This issue created on behalf of @RandomGHUser, from [fin-hypergrid Issue #759](https://github.com/fin-hypergrid/core/issues/759):_

A new property `maximumColumnWidth` will be implemented in version `3.1`:

Note that column schema properties automatically set column properties of the same name so
including `maximumColumnWidth:20` for example in a column schema will set the column property.

[2018-10-06 15:35] joneit commented on #759
There is a column property `minimumColumnWidth`:

_Must be defined._ The default (`5`) is enough room for an ellipsis with default font size.

Note that column schema properties automatically set column properties of the same name so, yes, you can use `minimumColumnWidth:5` in column schema. This would be similar to your example `min-width:"5px"` except it's an integer (no "px" unit).

I have crea

[2018-10-06 15:39] #759 closed

[2018-10-08 16:08] joneit commented on #758
If you could forward a minimal-demonstrable example, please, I would then be able to determine if a fix could be made. thanks

[2018-10-09 15:27] joneit commented on #755
In general apps do not usually change the selection on PgUp/PgDn.

Excel did not at first implement PgUp/PgDn, perhaps for this reason.... But it does seem to support it now _and_ inasmuch as Hypergrid is modeled to some degree on Excel, we could consider adding this as an option (that is, tied to an option flag).

Excel's precise behavior when a single cell is selected is straight-forward. But wh

[2018-10-09 22:31] RandomGHUser opened #763 "How to use plugins (e.g. datasaur-indexed) with client-side JS only?"
I'm trying to do filtering on my Hypergrid, but I cannot seem to attach the dataModel properly, the grid.behavior.dataModel does not have a setFilter property, could someone help with setting this up, or point to a vanilla JS tutorial for filtering?  I've looked through the documentation at
[https://github.com/fin-hypergrid/datasaur-indexed](url) and
[https://github.com/fin-hypergrid/fin-hypergrid

[2018-10-10 19:37] joneit opened #764 "getSelectedRows bug when all rows selected"
When all rows selected, `SelectionModel.prototype.getSelectedRows` returns inaccurate list. Specifically the first _n_ rows are omitted, where _n_ is the number of header rows above the data.

[2018-10-10 20:20] joneit commented on #758
Thanks for the screenshare. As we identify real issues, I will create separate GitHub issues for each.

Created Issue #764:
When all rows selected, `getSelectedRows` returns inaccurate results.

[2018-10-11 16:47] joneit opened #765 "renderLastSelection throws error after deleting all rows"

[2018-10-11 16:48] joneit commented on #757
On phone we determined this was result of forcing a render before columns created.

We are investigating the "etc." (other errors).

Created Issue #765:
`renderLastSelection` throws error when no rows

[2018-10-11 16:49] joneit commented on #765
Addressed in `3.0.4` PR (#762), commit d9561d0.

[2018-10-13 21:08] gurch101 opened #766 "License clarity"
I was looking to build a React wrapper around this library but it looks like the license used for this project seems to be an amended MIT license with the following addition:

[code]

I Don't know the relationship between openfin/JPM but isn't JPMorgans Perspective library a violation of your license?

[2018-10-15 11:45] dineshsrimal opened #767 "Hypergrid Treeview Plugin for V3"
Hi,

I'm trying to implement tree view feature to my grid with new Hypergrid 3.0.3 release and unfortunately I couldn't do it since tree-view-plugin repository is not exist.

I tried to run  the tree-view-demo as well and I couldn't run it since this repository is empty. When will this plugin will be ready and added to the repository since we are stuck with this since tree-view feature is a must h

[2018-10-16 12:39] joneit commented on #766
The intent was to prevent anyone from forking, merely renaming, calling it their own and possibly commercializing it as is, _i.e.,_ as a grid visualization engine.

To clarify the license, we are considering adding the above phrase "grid visualization engine" as follows:

Does that make it any clearer?

[2018-10-16 12:41] joneit commented on #766
We also are considering "solely and specifically as a grid visualization engine" ...

[2018-10-24 13:57] joneit commented on #743
The MIT license provides space for custom restrictions. I guess it is more accurately a "modified MIT license."

In any case, after some internal discussion, we have decided to remove the clause in its entirety (PR #766, to be included in the `3.1.0` release).

[2018-10-24 13:57] #743 closed

[2018-10-24 13:59] joneit commented on #766
After some internal discussion, we have decided to remove the clause in its entirety (PR #768, to be included in the `3.1.0` release).

[2018-10-24 16:06] #766 closed

[2018-10-24 16:33] joneit opened #769 "Hypergrid mouse events have outdated `keys`"
UI issue reported by @Revathigb diagnosed as follows:

The `grid.canvas.currentKeys` array is fossilized at last key event received by canvas when it last had focus. When accessed later, some key modifiers may no longer be in the same as they were (_e.g.,_ when keys went up or down while canvas blurred).

A reference to this array is passed to mouse event handlers as `e.detail.keys` and a copy of

[2018-10-24 19:26] joneit opened #770 "Hypergrid keys not SHIFTed"
When `SHIFT` + `<some key>` is pressed, the shifted version of that key is added to the `keys` array, but when `<some key>` + `SHIFT` is pressed, the unshifted version is added.

When `SHIFT` is subsequently pressed (or released), the `keys` array should be updated to replace the unshifted version of all keys remaining in the array with their shifted version (or _vice versa_).

[2018-10-25 01:59] joneit commented on #769
The getters are implemented by commit 2daafaa8 in PR #762 and will be released in version `3.1.0`.

Note that they all now return a copy (rather than a reference) to `grid.canvas.currentKeys`.

[2018-10-25 01:59] #769 closed

[2018-10-25 02:02] joneit commented on #770
`grid.canvas.currentKeys` array is now updated whenever _shift_ key is pressed or released.

 This fix is implemented in commit bfa3f6cb in PR #762 and will be released in version 3.1.0.

[2018-10-25 02:02] #770 closed

[2018-10-25 16:28] joneit commented on #764
Fixed in PR #762 to be released in version `3.1.0`.

[2018-10-25 16:28] #764 closed

[2018-10-25 16:29] joneit commented on #765
Fixed in PR #762 to be released in version `3.1.0`.

[2018-10-25 16:29] #765 closed

[2018-10-25 16:31] joneit commented on #761
To be merged with PR #762 and released in version 3.1.0.

[2018-10-25 16:31] #761 closed

[2018-10-25 16:51] joneit commented on #758
Created Issue #765:
renderLastSelection throws error after deleting all rows

[2018-10-25 16:53] joneit commented on #758
Created Issues #769 and #770:
Hypergrid mouse events have outdated `keys`/`currentKeys`
Hypergrid `keys`/`currentKeys` not SHIFTed

[2018-10-25 16:53] joneit commented on #758
All sub-issues resolved, for `3.1.0` release.

[2018-10-25 16:53] #758 closed

[2018-10-25 16:57] joneit commented on #758
Thanks @Revathigb for reporting these bugs and the opportunity to track down these bugs and address them! Version `3.1.0` (formerly called `3.0.4`) will be released this week (possibly today).

[2018-10-29 15:30] #757 closed

[2018-10-29 15:37] joneit commented on #740
I played with this some more and confirmed that `grid.setVScrollValue(Infinity)` is not reliable. Use the following alternative (at least until the other solution is fixed):

[code]

I will keep this ticket open.

[2018-11-29 12:20] AmirF27 opened #782 "Unable to create multiple grid instances"
I'm trying to create multiple grid instances, but I'm getting errors in the console if I try to do this. I get the same errors simply if I terminate a grid and then try to create another instance.

These are the errors I'm getting:

[code]

[code]

I'm using version `3.2.0`.

Basically I have multiple tabs and I would like to have a separate grid in each of the tabs.

Is this possible?

[2018-11-30 01:52] joneit commented on #782
hey @AmirF27 thanks for the feedback. Please paste in some sample code and I would be happy to create a patch release to make this work for you. That said, I do see that the [multiple-grids demo](https://fin-hypergrid.github.io/core/demo/multiple-grids.html) seems to be working....

[2018-12-02 07:30] AmirF27 commented on #782
@joneit I did not know about this demo, thanks for posting a link to it. I eventually tracked down the cause of this to the fact that I'm stopping the paint loop as soon as the grid instance is created. I'm using Angular and each paint loop cycle is needlessly triggering a change detection cycle which is weighing down on performance heavily. So I had to disable it so that I could manually tell it

[2018-12-03 12:26] slimtom95 opened #783 "how to append data or add rows without setData"
Greetings.

I was working on a huge table, about 100, 000 rows * 400 columns. The render process would cause browser stuck for about 10 secs (currently testing with only 170 columns, and using grid.setData() of course). Honestly I am content with the rendering speed of hypergrid, and the data maybe just too much.

But is there any ways to improve the performance and experience with huge data rende

[2018-12-05 03:39] slimtom95 commented on #783
By learning docs, I found these.

On Github [Wiki](https://github.com/fin-hypergrid/core/wiki/Cell-Renderers):

And on github.io [Renderer](https://fin-hypergrid.github.io/core/doc/Renderer.html#paintCellsAsNeeded):
[code]

It seems the lastest version in a way do support partial rendering and wiki is not up to date. I'll look into the doc and try to achieve this. It would be ideally that the cell

[2018-12-05 10:24] slimtom95 opened #784 "correct this to make anonymous column calculator function work"
There is a tiny mistake on the latest master commit caused anonymous function not work for column calculator, and here it is:

core/src/behaviors/Column.js line 393
`    } else if (calculator.test(REGEX_ANON_FUNC)) {`
`calculator` is the function literal string, not an regex, this line should be
`    } else if (calculator.match(REGEX_ANON_FUNC)) {`

Correct this and it would work fine.

[2018-12-05 11:42] slimtom95 opened #785 "how to make dependency injection work with column calculator"
Function factory that using dependency injection not work in current implementation of column calculator. The registered calculator in the following lines will lost its context, cannot resolve `cols` in this case.

[code]

If we can support these kind of factories, the column calculator with similar calculation structure can be merged, and they will be able to receive config, which would bring a l

[2018-12-05 14:33] joneit commented on #784
Thanks, good catch!

I will add to the the next release, which will likely be 3.2.1 and will likely be published on the weekend.

[2018-12-06 00:51] joneit commented on #785
You are correct:

The reason for this is that the calculator functions are meant to be serializable to facilitate persisting state. They are re-inflated when state is loaded. We don't allow calculators to have their own context because the context cannot be serialized.

### Background

The `properties.calculator` setter has several overloads: registered function name, stringified function object,

[2018-12-06 09:49] slimtom95 commented on #785
Thanks! It works exactly as expected!

[2018-12-06 09:49] #785 closed

[2018-12-06 09:51] #784 closed

[2018-12-06 10:15] slimtom95 opened #787 "Can column calculator do a chain update?"
Suppose we have columns & their column calculators like these:

column `A` which is calculated from column `A1`  `A2` `A3`
column `B` which is calculated from column `B1`  `B2`  `B3`
column `C` which is calculated from `A` & `B`

and `A1` to `B3` they are just some plain columns. While `A` and `B` working fine, `C` is ignoring the calculated result of `A` and  `B`. Instead,  it simply takes the un

[2018-12-06 10:32] slimtom95 opened #788 "Can cell with calculator rerender itself when the source of calculation changed?"
Saying column `B` is calculated by its column calculator from column `A`. When a cell of `A` got edited, can column `B` update or re-render itself?

I could make a workaround like listening to the cell changed event and do the calculation outside then using setData to change the related column. But if I did this, I'm not using column calculator at last.

Is there any way to use calculator achieve

[2018-12-06 12:38] slimtom95 opened #789 "How to disable scroll bar style tag injection"
The custom scroll bar style with a .css works, except the `thumb`', like unable to set the `thumb`'s  background color.  After delete the injected style tag, my part of  `thumb` style css works.

I think there should be a way to disable the injection and the `thumb` style should be able to be overridden.

[2018-12-06 19:35] joneit commented on #787
Correct, the results are not saved anywhere; it would be inefficient to run the calculators again.

However, there is a...

### Work-around
In the first two calculator functions, store the result into a "hidden" column in `dataRow` and then reference that hidden column from the final calculator. Columns created in this way would be completely unknown to Hypergrid or the data model's schema.

[2018-12-06 19:39] joneit commented on #789
This is probably because the scrollbar stylesheet is injected right before the grid, which is probably _after_ your stylesheet. Try moving your stylesheet to the end of the body tag. I believe all stylesheets are parsed prior to building the DOM tree.

[2018-12-06 19:40] joneit commented on #789
Alternatively, did you try marking your styles with `!important` ?

[2018-12-06 20:46] joneit commented on #789
If you want to remove the injected stylesheet:
[code]
or replace it with your own:
[code]

[2018-12-07 02:16] slimtom95 commented on #789
`!important` solved my issue, Thank you joneit :D

[2018-12-07 02:16] #789 closed

[2018-12-07 02:47] #788 closed

[2018-12-07 03:31] slimtom95 commented on #787
Amazing, the hack works.

Now when I computing `A` and `B`, I also save a `A_tmp` & `B_tmp` (columnName finally usable here)
And when computing `C`, just refer them like `A_tmp` || `A`.

Thank you joneit!

[2018-12-10 09:13] AmirF27 commented on #782
@joneit Are there any updates on this? Stopping the paint loop seems to cause those errors when creating multiple grid instances. I need to be able to stop the paint loop in order to restart it outside the context of Angular because otherwise it creates many unnecessary change detection cycles.

[2018-12-10 11:19] #783 closed

[2018-12-10 13:34] joneit commented on #782
I’ll try to take a look today.

[2018-12-10 16:08] swiftanthony commented on #553
Is there anywhere a documentation on this ? I cannot seem to find how to hide a column

[2018-12-11 11:52] slimtom95 opened #790 "How to programmatically render invisible computed columns"
Hi, Another computed column question again.

I have two tables, one tableA with computed columns holds most of data, the other tableB makes some data aggregation based on tableA's computed columns. (chain update solved by writing new dataRow attribute while rendering)

**But I found that the computed columns got rendered when they came into view.  So If I don't scroll the columns into view, tableB

[2018-12-12 19:20] joneit commented on #790
@slimtom95, A much better approach to do this whole thing is to use a custom data model that knows how to aggregate data.

This could be implemented as a multi-stage data model implementing a "pipeline" of data sources and instantiate the grid with that custom data model. There are a number of ways to set up a such a data model. Setting it up prior to grid instantiation would look something like t

[2018-12-13 05:59] slimtom95 commented on #790
Wow, thanks for showing me this solution @joneit . I just migrated the computed columns into event driven setData solution yesterday, I'd like to solve this in a more hypergrid way and I'll look into the custom data model implementation later.

Currently I am able to `require` Hypergrid,  and I do know this `filtering-demo`, thanks for mentioning it, it'll be a good material to study.

p.s. Just a

[2018-12-13 22:45] AmirF27 opened #791 "How can I create a custom event?"
I apologize if this was mentioned in the docs or the wikis, I could not find something that would help me. Basically, I would like to create and fire a custom event from my data model so that the grid can listen to it and do something when it fires. Is this possible?

By the way, are there any plans to improve the docs and the wikis? It's extremely hard to find how to do something currently.

[2018-12-14 04:40] slimtom95 commented on #791
Hi there, I'm not quite understand the whole design as well but by studying the source code, I think I may give you some advice on this. Better hear from JE later, though.

First of all, why do you want to create a custom event, and what do you want to achieve. I think the all kinds of available events is enough for me, And to better work with native hypergrid event, I'd like to recommend working

[2018-12-17 07:59] AmirF27 opened #792 "Can't scroll on touch screens"
The grid doesn't seem to respond to scrolling events on touch screens. I can tap without any issues, but scrolling doesn't seem to work.

This is a bit of an urgent issue, as we are currently in the process of moving our entire application to Hypergrid. We would like to know if it's just a matter of configuration or if Hypergrid doesn't support touch screens, and if not, if it's possible to reques

[2018-12-17 20:09] joneit commented on #792
Touch screen support was never completed. I will look into this today and assess the amount of work involved and I'll post here my findings and when I think I could get it done.

(Of course, contributions are always welcome! Is there any chance you have the bandwidth to contribute a  solution to this issue?)

[2018-12-17 20:31] AmirF27 commented on #792
@joneit Of course! I'd be more than happy to contribute a solution (or at least try). If you could just give me a heads up as to where to start, that would be great (if not that's fine too). Also, is there a way to contact you in case I have any questions?

[2018-12-19 20:21] joneit commented on #792
@AmirF27 That would be great!

Look in `./src/lib/Canvas.js` at the way "click" events are implemented. We need to implement [Touch events](https://developer.mozilla.org/docs/Web/API/Touch_events) similarly (see also [Using Touch Events](https://developer.mozilla.org/docs/Web/API/Touch_events/Using_Touch_Events)), including how they are consumed.

### How Hypergrid sets up events
The way events ar

[2018-12-21 10:10] slimtom95 opened #793 "improve copy/paste behavior, also multi-row selection"
Hi, working with hypergrid, to achieve a more complete copy/paste behavior and better user experience, I got some questions or proposals. Any answer about how to implement them elegantly would be very helpful. And if there wasn't be implemented, I'd like to help.

1. multi-row selection
Selections and especially multi-cells selection to me is designed to work for copying. Now hypergrid supports ce

[2019-01-06 09:42] khaled3wad opened #794 "select a single row by index"
hello ,
is it possible to select a single row by index ? and scroll the grid to get it visible ?

[2019-01-07 15:38] joneit commented on #794
[code]

[2019-01-15 11:02] nmjmdr opened #795 "Merged cells project does not work"
Hello,
The project  grouped column header does not seem work with the latest version of the fin-hypergrid. I was wondering if there is another example to achieve merged cells.

[2019-01-16 18:30] G-S-Paris commented on #673
Has this been addressed? I'm not able to see anything about it in the changelist

[2019-01-20 16:43] shankscript opened #796 "Where is the sourcecode for the features demonstrated in the gif in Readme.md page"
![gridshot04](https://user-images.githubusercontent.com/2862389/51442246-f2124580-1d00-11e9-9113-0216ad620f9a.gif)

[2019-01-21 14:22] shankscript commented on #796
@joneit looking for sample code for multi-column grouping and aggregation.

[2019-02-05 11:03] dannyreil opened #797 "How to set focus to cell on fin-Hypergird"
Using fin-hypergird, I can't see anyway to set focus to a cell.

Need this for 2 behaviours, refocus on a cell after entering a incorrect value, e.g. if a cell can only contain a number between 0 and 2, entering 3 would show an error and refocus on the cell to enter a new value.

Also would like to change the default arrow functionality, so that when you are at of a number, say entering 123 pressi

[2019-02-14 20:24] AmirF27 commented on #792
Hi @joneit. I've got a couple questions regarding this feature. I've sent you an email. Please let me know when you see it or if you see this comment. If there is anyone else I can ask it would be great too.

[2019-02-21 14:30] Revathigb opened #798 "grouped Header plugin - Fin-Hypergrid"
Using groupHeader plugin in my react app.Whenever the column length changes.I'm getting Uncaught typeError
Uncaught TypeError: Cannot read property 'properties' of undefined
    at walkSuperior(index.js:497);

Can anyone help to resolve this issue?

[2019-02-22 09:49] nishantprajapti opened #799 "no border in first row when making first row fix in fin grid and not able to remove index for header column"
Hello Team,

I have requirement where in i need to fix the header row and do not show the index for that row. I have done that thing, but it comes with bugs.  first row after the fix row comes without border and even thought i changed the index starting from 1 to 0 but i am not able to 0 or i mean to say hide zero.
![screenshot from 2019-02-22 15-15-37](https://user-images.githubusercontent.com/13

[2019-04-03 14:12] giedroyc opened #800 "setRowMetadata not working"
Cannot get row metadata to work as per wiki:

[code]
__META is set but grid throws an error:
**_Cannot read property '0'_ of undefined** in **assignProps** in layer-props.js
[code]
Trying to hack this doesnt really help much; just propagates the errorr; ended up having to add the below which resulted in empty cell rendered... where exec is the exec from defaults
[code]

I can see that META object

[2019-05-01 08:38] khaled26 opened #801 "how i can change the row height in the getcell rendermethod ( after override it in the data model )"
what exactly i need is to update the row height according to one of it's cells .

[2019-05-06 07:58] #801 closed

[2019-05-06 12:16] khaled26 opened #803 "how i can break long line into two line in the cell ."
for example , i have one long line , i want to break it to three lines and update the row height .
is that possible ?

[2019-05-06 13:27] joneit commented on #803
Anything is possible with a custom cell renderer:
1. Write your cell renderer function following SimpleCell.js for an example
2. Register the cell renderer using `myGrid.cellRenderers.add`
3. Set the `render` property of the cell/column/row/grid to the registered name

See [`renderMultiLineText`](https://github.com/fin-hypergrid/core/blob/master/src/cellRenderers/SimpleCell.js#L211-L259) in Simple

[2019-05-08 15:16] RandomFractals opened #804 "Observable js notebooks using your lib"
I thought I'd share a few js notebooks I put together using your lib since I've seen many js devs and data viz pros use that platform lately for online examples:

https://observablehq.com/@randomfractals/fin-hypergrid

https://observablehq.com/@randomfractals/apache-arrow-hypergrid

https://observablehq.com/@randomfractals/vega-datasets

Feel free to add them to your readme.md or online docs.

Do

[2019-05-09 00:39] khaled26 commented on #803
Thanks jonathan .. it's really helped me to understand somethings that i wasn't aware .
can you please explain step 3  ? (Set the render property of the cell/column/row/grid to the registered name) ..
how i can do that in the code ? i didn't find any similar code like that .

[2019-05-11 16:29] khaled26 opened #805 "how i can make hypergrid respect embedded newline characters ('\n'). or if there another way to do that ?"
tried a few ways to make hypergrid create new line in the cell , but still not able to find a way to do that .

[2019-05-12 07:59] AmirF27 commented on #792
Hi @joneit. I've sent you an email regarding opening a pull request for this issue. I'm ready to open a pull request. Would you be able to look at it?

[2019-05-12 20:57] #805 closed

[2019-05-12 20:57] #803 closed

[2019-05-13 16:21] D-M-A-D opened #806 "columnAutosizing should shrink (not only grow)"
From the Description in Default.js / columnAutosizing

I'm loading some new data with the same metadata (not only pushing some additional datarows), it would be usefull to shrink and not only grow.

[2019-05-17 16:09] joneit commented on #804
Thanks for these. I will take a look.
I created an (unpublished) observable last December for Hypergrid.

[2019-05-18 19:17] RandomFractals commented on #804
@joneit sounds good.

Also check out my VegaViewer vscode ext. master that now uses your grid lib under the hood with perspectivejs for csv & json data previews:

https://github.com/RandomFractals/vscode-vega-viewer

I am packaging that data preview update this weekend.

Give it a go :)

![vega-viewer-data-preview-filter](https://user-images.githubusercontent.com/656833/57974047-b2d6c700-7977-11e9

[2019-06-13 11:23] RandomFractals commented on #792
@joneit & @AmirF27 I'd love to see this merged in this repo & added to perspectiveJS grid eventually to get touch screen support for the vscode ext. data viz tools I've built with your grid: https://github.com/RandomFractals/vscode-data-preview

any ETA on this PR being approved and released?

[2019-06-21 17:07] #723 closed

[2019-08-15 03:38] rash2x opened #808 "Is project maintained?"
Hi Jonathan!

I am exited to see the library like the hypergrid, but the project doesn’t have updates for 3 months, could you describe the current situation of project and future plans?

[2019-08-15 17:58] RandomFractals commented on #808
been wondering about that too. perhaps they are on the summer break/vaca ;)

[2019-08-24 16:48] #750 closed

[2019-08-28 09:31] AmirF27 commented on #808
Interested to know this as well, especially since I have a pending open pull request.

[2019-09-03 06:56] AmirF27 commented on #808
@RandomFractals Thanks!

[2019-09-13 21:10] ANDYESW opened #809 "Hi, Why combobox cell editor has been removed from cell editors."
Hi, We would like to use this grid in our application. We observed that "combobox.js" cell editor was there in v1.3.0. But from version 2.0.0 its been removed. May I know the reason why it is removed from Core project from version V2.0.0.?

[2019-12-06 02:17] Vita-Cre-M opened #817 "Can i set a specific cell border color or combine cells?"

[2020-01-04 10:32] khaitc opened #818 "How can i get correct column list after i drag columns or how can i catch drag column event"
Same as the title . i want to get correct column list after i drag column to swap column position and i want to trigger some action after i drag column. how can i do it ? thanks

[2020-01-10 09:24] Vita-Cre-M commented on #818
@khaitc
grid.behavior.cloumns gets current column list .

you can add event 'fin-column-changed-event' listener to trigger your action
just like:
grid.addEventListener('fin-column-changed-event',()=>{
 //to do
})

[2020-01-13 17:42] cha777 opened #819 "Table data doesn't reset when header row is not enabled"
When showHeaderRow is set to false, resting data length to zero shows no data available info message but does not reset the table. This happens only when showHeaderRow is set to false

[2020-03-20 16:59] FLoibl commented on #629
This prevents everyone from using this in applications that are based on a component approach. Having a defined lifecycle and cleaning up after yourself is vital in those scenarios.

Every hypergrid subclass that manipulates dom or events etc and allocates resources should have it's own "terminate" Method and all of them should be called by the grids "terminate" in my opinion.

Seeing that this is

[2020-06-06 08:15] phonganhhung9xtb opened #820 "cannot using columnAutoSizing with columnHeaderRenderer property"
i'am using fin-hypergrid version 3.3.2.
when i use columnHeaderRenderer property to custom header for my grid, all columns not auto resize to fit.
but when i remove columnHeaderRenderer property it working fine!
How i can use columnHeaderRenderer with columnAutoSizing same time?
thanks for any answer!

[2020-06-06 08:37] phonganhhung9xtb commented on #820
when you save preferredWidth into column properties? i can't found condition you check to save it.

[2020-07-16 08:46] phonganhhung9xtb opened #821 "How to hide some columns when init a grid?"

[2021-02-09 17:30] jacktang commented on #512
Hello, any progress on this issue？

[2021-02-20 23:16] khaled26 commented on #818
@CharLee-ch
hello , this listener is not working for me .. do i need to add anything else ? the version i am using is 3.3.2

[2021-03-05 09:48] trommlbomml opened #826 "Render cell content asynchronously"
I want to use the grid to render a lot of rows where some columns contains dynamically generated content. The content of these cells are dynamically generated from a server fetch, which means the rendering must be continued somewhat later when the fetch promise has finished. Second, when the cell is out of view the fetched result should not be rendered any more. Is this possible?

[2021-03-15 00:39] jcmonnin opened #827 "Simple example error when using minified `fin-hypergrid.min.js` CDN"
When trying to run the simple example locally, I it worked with
```<script src='https://fin-hypergrid.github.io/core/3.3.2/build/fin-hypergrid.js'></script>```
however it gave errors when using the minified version:
```<script src='https://fin-hypergrid.github.io/core/3.3.2/build/fin-hypergrid.min.js'></script>```

![image](https://user-images.githubusercontent.com/1336324/111090175-afbcba00-8593-

[2021-04-23 18:07] khaled26 opened #829 "horizontal scroll in hypergrid"
hey @joneit ,
was trying to disable the horizontal scroll , i don't want it to be visible even if i am resizing the columns , is there any way to do this ?

[2021-05-24 11:54] cha777 opened #830 "Clipboard copy not working when allRowsSelected is true"
When `allRowsSelected` is true, clipboard copy returns undefined since `getLastSelectionType` is not returning as 'row'

[2021-07-09 13:02] akilaNbandara commented on #829
I think you can just hide it using css. If library does not support by default.

`$('.finbar-horizontal').attr('style', "visiblity: 'hidden' !important;");`

Like this..

[2021-07-09 16:15] akilaNbandara opened #831 "How dragger and float column rendering happen when column moving?"
I need to do some changes in dragger and floating column when changing column order from ColumnMoving feature.
I seek through the whole ColumnMoving.js file and couldn't find how dragger and floating column get rendered.
If any one know please let me know.

Thanks & Regards

[2022-09-12 16:06] nicoladaniello opened #840 "Bug in theme variables passed to grid instance"
Hi all,

Some theme variables do not work when passed by `grid.applyTheme()` on a grid instance.

Here are the one I tested:

[code]
On the other hand they do work when passed as a global theme with `Hypergrid.applyTheme()`.